{% load static %}
<html>
  <head>
    <title>Le blog de Roland </title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    
    
<link href="//fonts.googleapis.com/css?family=Lobster&sbset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
  
</head>


<body>


<div class="page-header">



  
  {% if user.is_authenticated %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>


<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
  {% else %}           


<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
  {% endif %}

 <h1><a href="/">Le Blog de Roland</a></h1>

    </div>



{% for citation in citations|slice:":1" %}

<div class="bandeau-citation">
<h3>
  {{ citation }}
</br>
<div class="auteur">
{{ citation.author}}
</br>
{{citation.oeuvre}}
 </div>
</h3>
</div>

     {% endfor %}





<div class="container">
  <div class="row">
    <div class="col-lg-3">
             {% block principal %}
             {% endblock %}
    </div>

    

    
    <div class="col-lg-offset-3 col-lg-6">
      {% block menu %}
      
{% endblock %}
   </div>


  </div>
</div>
  

</body>
  </html>
  
